.file_div {
  display: flex;
  align-items: center;
  border-top: 1px solid #e3e3e3;
  justify-content: space-between;
  padding: 16px;
}

.file_span {
  display: flex;
  align-items: end;
  cursor: pointer;
  gap: 6px;
}
