@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__view-calendar-icon input {
  padding: 10px !important;
}

.react-datepicker {
  border-radius: 12px !important;
  font-size: 0.75rem !important;
  border: none !important;
}
.react-datepicker__header {
  font-size: 0.75rem !important;
  background-color: white !important;
  border: none !important;
}

.react-datepicker__day--selected {
  background-color: black !important;
  color: white !important;
  border-radius: 0.3rem !important;
}
.react-datepicker__day--keyboard-selected {
  border-radius: 0.3rem !important;
  background-color: black !important;
  color: white !important;
}

.openModal {
  margin-left: 24px;
  margin-top: 24px;
  cursor: pointer;
  background-color: #b71616;
  color: white;
  width: 95px;
  height: 28px;
  border-radius: 9px;
}
